
.content{
    &__formule{
        text-align: center;
        .errors{
            color: red;
        }
        .block{
            width: 51%;
            display: flex;
            justify-content: space-evenly;
            margin: 0 auto;
            background: white;
            box-shadow: 0px 3px 7px #e0dede;
            box-sizing: border-box;
            &__form{
                padding: 49px 132px;
                .parent{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    &__children{
                        padding: 6px;
                        &__input{
                            padding: 4px;
                            padding-left: 14px;
                            border: 1px solid #80808026;
                            border-radius: 8px;
                            width: 77%;
                            font-size: 17px;
                            font-family: monospace;
                        }
                    }
                }
            }
        }
    }

}
